@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

body {
  background-image: url("./assets/unsplash_FIKD9t5_5zQ.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
